//
   Created by michael on 2014/9/18
div.padding
    form(action="/login", method="post")
        div.row
            div.large-5.columns
                input(type="text", name="username", placeholder="Username")
            div.large-5.columns
                input.large-4.columns(type="password", name="password", placeholder="password")
            div.large-2.columns
                button.button.postfix(type="submit") login