//
   Created by michael on 2014/9/18
div.padding
    form(action="/register", method="post")
        div.row
            div.large-3.columns
                input(type="text", name="username", placeholder="Username")
            div.large-3.columns
                input#password(type="password", name="password", placeholder="password")
            div.large-4.columns
                input(type="email", name="email", placeholder="email")
            div.large-2.columns
                button.button.postfix(type="submit") register!