//
   Created by yohuang on 9/15/2014.
link(rel='stylesheet', href='/stylesheets/github-markdown.css')
div.article-container
    each article in articles
        article.markdown-body
            div!= md("# " + article.title)
            div!= md(article.body)