//
   Created by yohuang on 9/18/2014.

div#header
    a#title(href="/") undefined.im
    div.float-right
        if isLoggedIn
            a.vertical-margins(href="/writer") create
            a.vertical-margins(href="/logout") sigh out
        else
            a.vertical-margins(href="/login") sign in
