//
   Created by michael on 2014/9/18.
h2 Login
form(action="/login", method="post")
    input(type="text", name="username", placeholder="Username")
    input(type="password", name="password", placeholder="password")
    button(type="submit") login
h2 Register
form(action="/register", method="post")
    input(type="text", name="username", placeholder="Username")
    input#password(type="password", name="password", placeholder="password")
    //input(type="password", placeholder="password again", onkeyup="if (this.value !== document.getElementById('password').value) {) {}")
    input(type="email", name="email", placeholder="email")
    button(type="submit") register!