//
   Created by yohuang on 9/15/2014.
link(rel='stylesheet', href='/stylesheets/github-markdown.css')
script(src="/lib/markdown.min.js")
div.writer
    div.edit-area
        form(action="/articles", method="post")
            input#text-title(type="text", name="title", placeholder="Title")
            textarea#text-input(name="body", placeholder="What's in your mind?", oninput="this.editor.update()")
            button(type="submit") post!
    div.preview-area
        p(style="text-align: center") Preview
        div.preview-result.markdown-body(id="preview")
    script(src="/lib/useMarkdown.js")
