//
   Created by michael on 2014/9/18.
extends layout
block content
    form(action="/login", method="post")
        p Username
        input(type="text", name="username")
        p Password
        input(type="text", name="password")
        button(type="submit") login