html
  height: 100%
  display: block
body
  padding: 0
  margin: 0
  display: block
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

textarea input
  border-color: #bbbbbb

headerPadding = 5px
#header
  width: 100%
  background: #333333
  box-shadow: 0 1px 2px 0px #333333
  padding: headerPadding
  box-sizing: border-box;
  vertical-align: baseline;
  position: relative;
#title
  margin: 0;
  color: #ddd;
  text-transform: uppercase;
  text-shadow: 0 1px 1px black;
  font-size: 14pt;
  font-family: "Abel","Helvetica Neue",Helvetica,Arial,Sans-serif;
  text-decoration: none;

.float-right
  position: absolute;
  right: 10px;
  bottom: headerPadding;

.vertical-margins
  margin: 0 5px 0 5px

.round-border
  border-radius: 2px
  border: solid 1px #f7f7f7;
  box-shadow: 0 1px 2px 0 #333333

.article-container
  width: 100%
article
  width: 70%
  margin: 5px auto 5px auto;
  padding: 10px 5px 10px 5px;
  @extend .round-border

.writer
  @extend article
  width: 90%;
  min-height: 650px;
  height: 90%;
  .edit-area
    vertical-align: top;
    display: inline-block;
    width: 49%
    height: 100%
    form
      height: 90%;
      width: 100%;
      input
        border: none;
        width: 100%;
      textarea
        border: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
  .preview-area
    vertical-align: top;
    margin-left: 2px;
    display: inline-block;
    border-left: 1px solid #555555
    box-sizing: border-box
    width: 50%
    height: 100%
    padding: 5px;